@import url("https://fonts.googleapis.com/css2?family=DM+Mono&display=swap");

.card,
.card p,
.card h2 {
  color: white;
  font-family: "DM MONO", monospace;
}

.card-container {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
  justify-content: center;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 380px;
  width: 480px;
  min-width: 250px;
  padding: 1.5rem;
  margin-left: 40px;

  border-radius: 16px;
  background: #1c1920;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.2s;
}

/* scrolll bar */

/* section.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

section.card-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

section.card-list::-webkit-scrollbar-track{
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
} */

.card:hover {
  transform: translateY(-1rem);
}
.card:hover ~ .card {
  transform: translateX(130px);
}
.card:not(:first-child) {
  margin-left: -130px;
}
.card-author {
  position: relative;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  margin: 3rem 0 0;
}

.author-avatar img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  margin: 16px 10px;
}

/* .half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: #ff8a00;
  stroke-width: 8;
  stroke-linecap: round;
  pointer-events: none;
} */

.author-name-prefix {
  font-style: normal;
  font-weight: 700;
  color: #7a7a8c;
}

/* gradient */

.card-header h2:hover {
  background: linear-gradient(90deg, #ff8a00, #ff7eee);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tags {
  margin: 1rem 0 2rem;
  position: absolute;
  bottom: 5px;
  padding: 0.5rem 0 1rem;
  line-height: 2;
  margin-bottom: 0;
}

.tags a {
  font-style: normal;
  font-weight: 700;
  font-size: 0.5rem;
  color: #7a7a8c;
  text-transform: uppercase;
  font-size: 0.66rem;
  border: 3px solid #28242f;
  border-radius: 2rem;
  padding: 0.2rem 0.85rem 0.25rem;
  position: relative;
  text-decoration: none;
}

.tags a:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  background-clip: text;
  border-color: white;
}

.projectSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectSection h1 {
  margin-bottom: 20px; /* Adjust the margin as needed */
}

#projects {
  position: relative;
  padding-top: 60px;
}

.title-container {
  position: absolute;
  top: 100px; /* 40 pixels above the card container */
  left: 45%;
  z-index: 1;
}

