@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700 &display=swap");

:root {
  font-size: 16px;
  font-weight: 500;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  --bg-color: #323946;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #dfd3dd;
}

body {
  background-color: #131316;
  color: #ffffff;
  overflow-x: hidden;

  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

#about-me p {
  text-align: center;
  font-size: 1.2em;
}
#about-me h1,
#about-me p {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  margin: 10px 0;

 
  font-size: 18px; /* Change the value according to what suits you */
  font-weight: 700;
}

#about-me h1 {
  font-size: 3.5em; /* Significantly larger font size */
  font-weight: bold; /* Makes the font bolder */
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7); /* Optional: Adds a shadow for depth */
  margin-bottom: 20px; /* Adds some space below the name */
  align-items:center;
}

section {
  position: relative;
  display: grid;
  place-items: center;
  align-content: center;
  
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.projects {
  display: flex;
}
#socials {min-height: 40vh;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

#socials h1 {
  margin: 0; /* Remove default margin for the header */
  padding: 10px 0; /* Optional padding for aesthetics */
  text-align: center; /* Center the heading */
}

#socials .social-icons {
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center the icons horizontally */
  flex-wrap: wrap; /* Wrap the icons if they overflow */
  gap: 10px; /* Space between icons */
  padding: 10px 0; /* Padding around the icon container */
}

#socials .social-icons a {
  display: inline-block; /* Make links inline-block for proper spacing */
  text-decoration: none; /* Remove underline from links */
}

#socials .social-icons img {
  width: 55px; /* Consistent width for icons */
  height: 55px; /* Consistent height for icons */
  display: block; /* Block display to remove whitespace below images */
}


.logo:nth-child(2) {
  transition-delay: 200ms;
}

.logo:nth-child(3) {
  transition-delay: 400ms;
}

.logo:nth-child(4) {
  transition-delay: 600ms;
}

/* navbar */

main {
  margin-left: 5rem;
  padding: 1rem;
}

/* scrollbar */

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: slategrey;
}

body::-webkit-scrollbar-thumb {
  background: #ff7eee;
}

.navbar {
  position: fixed;
  z-index: 9999;
  background-color: var(--bg-primary);
  transition: width 400ms ease;
  overflow:hidden;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: cornsilk;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}
.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

/* .navbar:hover {
  width: 16rem;
} */

/* .navbar:hover .link-text {
  display: block;
} */

/* logo */

.nav-link.active {
  background-color: #333; /* or any desired style */
}

.navbar .navbar-nav .nav-item .nav-link.active svg,
.navbar .navbar-nav .nav-item .nav-link.active svg * {
  fill: #ff7eee !important;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  /* transition: transform var(--transition-speed) */
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* small screens */

@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    z-index: 1000;
    overflow: auto;
  }
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* larger screen */

@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
    transition: opacity;
  }
  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}

svg path {
  fill: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}
svg path,
.fa-secondary {
  transition: var(--transition-speed);
}

#projects {
  z-index: 2;
  overflow-y: visible; /* Update this line */
  text-align: center;
}

.section-title {
  text-align: center;
  padding-top:40px;
}
#projects {
  text-align: center; /* This will center the text and potentially other inline content */
}
/* Override for the "Skills" section */
#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* This will align the grid content to the top */
}

.skills {
  position: relative;
  padding-bottom: 50px; /* Ensure there's space for the mouseDown indicator */
}

#skills h1 {
  text-align: center; /* This will center the h1 text */
  width: 100%; /* This will make sure the text takes up the full width so it can be centered */
  margin-top: 100px; /* Space above the h1 */
  padding-top: 0; /* Removes top padding */
  margin-bottom: 50px;
}

.skills h2 {
  margin-bottom: 5rem;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-wrap: wrap;
  gap: 2rem;
}

.skills-container .skills-box {
  width: 100px; /* or whatever width you desire */
  height: 100px; /* or whatever height you desire */
  background: var(--second-bg-color);
  padding: 1rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-container .skills-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.skills-box i {
  font-size: 3rem;
  color: var(--main-color);
}

.skills-box h3 {
  font-family: "DM MONO", monospace;
  font-size: 16px; /* Change the value according to what suits you */
  font-weight: 700;
}

/* .skills-box p {
  font-size: 0.6rem;
  margin: 1rem 0 3rem;
} */

.skills-box svg {
  width: 40px; /* Adjust this value as needed */
  height: 40px; /* Adjust this value as needed */
}

.icons {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  display: flex;
}

.icons li {
  list-style: none;
}
.icons li a {
  position: relative;
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  margin: 0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: 0.5s;
}

.icons li a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.icons li a .fab,
.icons li a .fas {
  width: 100%; /* Note: You had a typo here (widht) */
  height: 100%;
  display: block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 24px;
  color: #262626;
  transition: 0.5s;
}
.icons li:nth-child(1) a:hover .fab {
  color: #333333; /* Github */
}

.icons li:nth-child(2) a:hover .fas {
  color: #0072c6; /* Email */
}

.icons li:nth-child(3) a:hover .fab {
  color: #0077b5; /* LinkedIn */
}
/* 
#blob {
  background-color: white;
  background: linear-gradient(to right, #ff7eee, mediumpurple);
  height: 300px;
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;

  @keyframes rotate {
    from {
      rotate: 0deg;
    }
    50% {
      scale: 1 1.5;
    }
    to {
      rotate: 360deg;
    }
  }
  animation: rotate 20s infinite;
  filter: blur(200px);
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  backdrop-filter: blur(200px);
} */

/* form */
/* container{
  width:100%;
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;
} */
form {
  background: var(--bg-primary);
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

form h3 {
  color: #ff7eee;
  font-weight: 800;
  margin-bottom: 20px;
  font-family: "DM MONO", monospace;
}

form input,
form textarea {
  font-family: "DM MONO", monospace;
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  border-radius: 5px;
  background: #f5f5f5;
  font-size: 16px;
}

form button {
  padding: 15px;
  background: #ff7eee;
  color: #fff;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2em;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* Medium screens */
@media (max-width: 768px) {
  .skills-box {
    min-width: calc(50% - 20px); /* Two in a row */
  }
  .resume-button {
    top: 40px; /* Adjust this value for small screens */
    right: 40px; /* Adjust this value for small screens */
  }
}

/* Small screens */
@media (max-width: 480px) {
  .skills-box {
    min-width: 100%; /* One in a row */
  }
  #projects {
    height: auto !important;
    overflow-y: visible !important;
  }

  .card-container {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }
}

/* Your existing CSS for other elements... */

/* Existing animated-button CSS */
.animated-button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #ffffff40;
  box-shadow: 0 0 0 2px #ffffff20;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

/* ... (other existing animated-button related CSS) */

/* New CSS specific for the resume button */
.resume-button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10; /* Optional, if you want it to be above other elements */
}

/* Existing animated-button hover and other states */
.animated-button:hover {
  box-shadow: 0 0 0 5px #ffffff40;
  color: #ffffff;
}

.animated-button:active {
  transform: scale(
    0.95
  ); /* Changed from "scale: 0.95" to "transform: scale(0.95)" */
}
.animated-button:hover span:first-child {
  color: #ffffff; /* Changes the text color to white */
  position: relative;
  z-index: 2;
}

.animated-button span:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: var(--main-color);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover span:last-child {
  width: 150px;
  height: 150px;
  opacity: 1;
}

.author-name a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
  font-size: inherit; /* Inherit font size from parent */
  font-weight: inherit; /* Inherit font weight from parent */
  /* Add more styles if necessary */
}

/* Apply styles only on screens larger than 768px */
@media (min-width: 769px) {
  /* scroll button */
  #about-me {
    height: 100vh;
    position: relative;
  }

  body {
    font: 16px/1.6em Poppins, BlinkMacSystemFont, "-apple-system", "Segoe UI",
      Roboto, Helvetica, Arial, sans-serif;
    background: #111;
    color: #fff;
    text-align: center;
  }

  section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #section1 {
    background: #fff;
    color: #111;
  }

  #section1 a {
    color: #aaa;
  }

  /* MOUSE SCROLL ANIMATION */
  .mouseDown {
    font-size: 0.9em; /* CONTROL MOUSE SIZE */
    border: 2px solid rgba(255, 255, 255, 1);
    display: block;
    width: 1.7em;
    height: 2.8em;
    border-radius: 0.9em;
    margin: 0 auto;
    text-decoration: none;
    transition: border 0.2s ease-out;
    position: absolute;
    bottom: 30px; /* or adjust as needed */
    left: 50%; /* or adjust as needed */
    transform: translateX(-50%);
  }

  .mouseDown:hover {
    border: 2px solid rgba(255, 255, 255, 0.7);
  }

  .mouseDown span {
    display: block;
    background: #fff;
    width: 0.2em;
    height: 0.3em;
    margin: 0.7em auto 0;
    border-radius: 0.4em;
  }

  .mouseDown span {
    -webkit-animation-name: scroll;
    animation-name: scroll;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
    animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    will-change: transform;
  }

  .mouseDown:hover span {
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
  }
  @-webkit-keyframes scroll {
    0%,
    20% {
      -webkit-transform: translateY(0) scaleY(1);
    }
    10% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(1.2em) scaleY(1.5);
      opacity: 0.01;
    }
  }

  @keyframes scroll {
    0%,
    20% {
      transform: translateY(0) scaleY(1);
    }
    10% {
      opacity: 1;
    }
    100% {
      transform: translateY(1.2em) scaleY(1.5);
      opacity: 0.01;
    }
  }
}

/* stars */
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* tabs */

.live-demo-link:hover {
  color: #ff7eee; /* Replace newColor with your desired hover color */
}

 /* background-color: rgba(255, 255, 255, 0.5); */
.hobby-box {
    background-color: rgba(130, 84, 125, 0.73); /* Slightly transparent white background */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Inner spacing around the text */
    margin-top: 20px; /* Space above the box */
    font-size: 0.8em; /* Smaller text size */
    width: 60%; /* Smaller box width, adjust as necessary */
    margin-left: auto; /* These two margin settings center the box */
    margin-right: auto;
}

@media screen and (min-width: 768px){.name {
    position: relative;
   top: -180px;
}}
.box {
  background-color: rgba(130, 84, 125, 0.73); /* Slightly transparent purple background */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Inner spacing around the text */
  margin-top: -170px; /* Adjust if necessary to avoid overlap */
  width: 90%; /* Increased responsive width */
  margin-left: auto; /* Centering the box horizontally */
  margin-right: auto;
  color: #FFFFFF; /* High contrast text color for readability */
  max-width: 600px; /* Increased optimal line length for a wider box */
  font-size: 16px; /* Legible font size */
}

#about-me .box p {
  font-family: Arial, Helvetica, sans-serif; /* Clean, readable font */
  text-align: left; /* Easy-to-follow text alignment */
  font-size: 16px; /* Consistent font size */
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); /* Softer text shadow for depth without blur */
  line-height: 1.5; /* Adequate line spacing for readability */
  margin-bottom: 1.5em; /* Spacing between paragraphs */
  font-weight: 400; /* Regular weight for body text */
}
strong {
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .box {
    width: 95%; /* Further increased width for smaller screens */
    margin-top: 0; /* Adjust positioning on smaller screens */
    padding: 15px; /* Adjust padding for smaller screens */
  }

  #about-me .box p {
    font-size: 14px; /* Slightly smaller font size for smaller screens */
    line-height: 1.4; /* Adjust line height for smaller font size */
  }
  .name {
    position: relative;
}
}

.social-icons{
	padding:30px;
	background-color:#ffffff;
  text-align: center;
}
.social-icons a{
	color:#1c1920;
  line-height:30px;
  font-size:30px;
  margin: 0 5px;
  text-decoration:none;
  
}
.social-icons a i{
	line-height:30px;
  font-size:30px;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}
.social-icons a:hover i{
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
}
/* General Container Styling */
#experience {
  background-color: #1c1920; /* Dark background color */
  padding: 50px 0;
}

#experience .container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
}

/* Heading Styling */
#experience #heading {
  color: white;
  text-align: center;
  font-size: 12px;
  margin-bottom: 30px; /* Adjusted for spacing */
}

/* Experience Timeline Styling */
.experience-timeline {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust grid columns */
  gap: 10px;
}

/* Experience Item Styling */
.experience-item {
  background-color: #323946; /* Slightly lighter than the background */
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column; /* Ensures items stack vertically */
}

.experience-item:hover {
  transform: scale(1.02);
}

.experience-item a {
  text-decoration: none;
}

.experience-item img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 50%;
  margin-bottom: 10px; /* Spacing below image */
}

/* Date Styling */
.experience-date {
  color: #ecf0f1;
  font-size: 14px;
  margin-bottom: 5px; /* Adjusted for spacing */
}

/* Text Styling */
.experience-text h3 {
  color: #ecf0f1;
  margin: 0;
  font-size: 10px; /* Adjusted font size */
}

.experience-text h4 {
  color: #bdc3c7;
  margin: 3px 0; /* Adjusted margin */
  font-size: 14px;
}

.experience-text p {
  color: #ecf0f1;
  margin: 5px 0 0; /* Adjusted margin */
  font-size: 10px; /* Adjusted font size */
  line-height: 1.4; /* Adjusted line height */
}
.slider {
  position: relative;
  width: 90%; /* Adjust the width as needed */
  max-width: 1200px; /* Set a maximum width */
  margin: auto;
  overflow: hidden;
  box-sizing: border-box;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
}

.slide img {
  width: 100%;
  height: 500px; /* Set a fixed height */
  object-fit: cover; /* Ensure images cover the container */
}

.caption {
  position: absolute;
  bottom: 10%;
  left: 5%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  max-width: 90%;
  box-sizing: border-box;
}

/* Navigation buttons */
.navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 16px;
  cursor: pointer;
  border-radius: 50%;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Default styles for captions outside the box */
.caption {
  position: static;
  margin: 10px 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 5px;
  max-width: 90%;
  box-sizing: border-box;
}

/* Style for caption links */
.caption-link {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  max-width: 90%;
  box-sizing: border-box;
  text-align: center;
}

/* General styles for the slider */
.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  height: 500px; /* Set a fixed height */
  object-fit: cover; /* Ensure images cover the container */
}

/* Navigation buttons */
.navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 16px;
  cursor: pointer;
  border-radius: 50%;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  button {
      padding: 12px;
  }

  .slide img {
      height: 300px; /* Adjust height for smaller screens */
  }

  .feats {
      height: 500px !important; /* Increased height for smaller screens */
  }
}

@media (max-width: 480px) {
  button {
      padding: 10px;
  }

  .slide img {
      height: 200px; /* Adjust height for smaller screens */
  }

 
}
h1 {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Mono&display=swap");

.card,
.card p,
.card h2 {
  color: white;
  
}

.card-container {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 380px;
  width: calc(100% - 20px);
  min-width: 250px;
  padding: 1.5rem;
  margin-left: 40px;

  border-radius: 16px;

  background: #1c1920;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-1rem);
}

.card:hover ~ .card {
  transform: translateX(130px);
}

.card:not(:first-child) {
  margin-left: -130px;
}

.card-author {
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  margin: 1rem 0;
}

.author-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.author-name-prefix {
  font-weight: 700;
  color: #7a7a8c;
  cursor: default;
}

.card-header h2:hover {
  background: linear-gradient(90deg, #ff8a00, #ff7eee);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tags {
  /* margin: 1rem 0; */
  position: relative;
  padding: 0.5rem 0 1rem;
  line-height: 2;
}

.tags a {
  font-style: normal;
  font-weight: 700;
  font-size: 0.5rem;
  color: #7a7a8c;
  text-transform: uppercase;
  font-size: 0.66rem;
  border: 3px solid #28242f;
  border-radius: 2rem;
  padding: 0.2rem 0.85rem 0.25rem;
  position: relative;
  text-decoration: none;
}

.tags a:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  border-color: white;
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

  .card {
    width: calc(100% - 20px);
    max-width: 480px;
    height: auto;
    margin: 1rem 0;
    margin-left: 0; /* Remove the margin-left */
  }

  .card:not(:first-child) {
    margin-left: 0; /* Override the -130px margin */
  }

  .card:hover,
  .card:hover ~ .card {
    transform: none; /* Disable the hover effect */
  }
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children vertically */
}

.header-content {
  display: flex;
  align-items: center; /* Centers items vertically */
}

.project-link {
  display: inline-flex; /* Use inline-flex for proper alignment */
  align-items: center; /* Center align items vertically */
  color: inherit; /* Inherit color from parent for consistency */
  text-decoration: none; /* No underline by default */
  font-family: inherit; /* Ensure font consistency */
  font-size: inherit; /* Match the font size of surrounding text */
}

.project-link:hover {
  text-decoration: underline; /* Underline on hover */
}

.fa-github {
  margin-right: 8px; /* Space between icon and text */
}

.card-header h2 {
  cursor: default; /* Changes the cursor to the default pointer */
}

.project-link .fas.fa-external-link-alt {
  margin-left: 8px; /* Adds space to the left of the external link icon */
}
